body {
    font-family: Tahoma;
    margin: 0; 
}
  
.container {
    max-width: 530px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    background-color: bisque;
}

p {
    margin: 0;
    padding-bottom: 1em;
}


/**************************************/
.hero p{
    font-style: italic;
    width: 400px;
}

h1 {
    font-size : 25px;
    color : blue;
    text-align: center;
    padding-bottom: 1em;
  }
  
.button-position {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.button {    
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    background-color: orange;
    padding: 8px 16px;
    border-radius: 5px;
  }

form {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    text-align: center;
}

p {
    font-size : 12px;
    text-align: left;
    max-width: 530px;
    margin: 0 auto;
}

#image {
    text-align: center;
}
label {
    font-size: 20px;
}

.saisi-nombre {
    width: 20px;
    font-size: 16px;
    padding: 5px;
    text-align: center;
}

.btn {
    width: 85px;
    margin-top: 20px;
    padding: 8px 16px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

.msg {
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}